{% extends "master.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}

{% block title %}
    {% translate "Contact Us" %}
{% endblock %}

{% block content %}
    <h1>{% translate "Contact Us" %}</h1>

    <p>{% translate "For any questions or concerns, please contact us at:" %}</p>
    
    {# Check for form errors and display them #}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% bootstrap_button _("Submit") button_type="submit" button_class="btn-primary" %}
    </form>
    
{% endblock %}
