{% extends "master.html" %}
{% load i18n %}

{% block title %}
    {% translate "Contact Us" %}
{% endblock %}


{% block content %}
    <h1>{% translate "Contact Us" %}</h1>

    <p>{% translate "For any questions or concerns, please contact us at:" %}</p>
    
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">{% translate "Name" %}</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">{% translate "Email" %}</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">{% translate "Message" %}</label>
            <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
    </form>
    
{% endblock %}
