python-decouple # For handling environment variables

django>=5.2 # Django framework
celery[rabbitmq] # For handling asynchronous tasks
django-celery-results # For storing Celery task results in Django database
flower # For monitoring Celery tasks

psycopg2  # For PostgreSQL

django-simple-captcha # For captcha

django-rosetta # translation managment
django-payments # For handling payments

iso3166 # For handling country codes

fpdf2 # For generating PDF files
qrcode[pil] # For generating QR codes

django-bootstrap5 # For using Bootstrap 5 in Django templates
