python-decouple # For handling environment variables

django # Django framework

psycopg2  # For PostgreSQL

django-recaptcha # For using Google reCAPTCHA

django-money # For handling money values
django-payments # For handling payments
django-rosetta # translation managment

iso3166 # For handling country codes

fpdf2 # For generating PDF files
qrcode[pil] # For generating QR codes

django-bootstrap-v5 # For using Bootstrap 5 in Django templates
