python-decouple # For handling environment variables

django # Django framework
celery # For handling asynchronous tasks

psycopg2  # For PostgreSQL

django-recaptcha # For using Google reCAPTCHA

django-rosetta # translation managment
django-payments # For handling payments

iso3166 # For handling country codes

fpdf2 # For generating PDF files
qrcode[pil] # For generating QR codes

django-bootstrap-v5 # For using Bootstrap 5 in Django templates
