{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">{% translate "HOME" %}</a>
    </li>
  </ul>

  {% block content %}
  {% endblock %}
</div>
</body>

<footer>
  <div class="container d-flex justify-content-center">
    <p class="mx-2">Cinema Ticketing System © 2025</p>
    <p class="mx-2"><a href="/contact">{% translate "Contact Us" %}</a></p>
  </div>
</footer>

</html>