{% extends "master.html" %}
{% load i18n %}

{% block title %}
    {% translate "Payment for" %} {{ payment.id }}
{% endblock %}


{% block content %}
    <h1>{% translate "Payment for" %} {{ payment.id }}</h1>
    <h2>{% translate "List of Tickets" %}:</h2>

    <ul>
        {% for ticket in payment.selected_tickets.all %}
            <li>{{ ticket.price_class.name }}: {{ ticket.price_class.price }}</li>
        {% endfor %}
    </ul>
    
    <h2>{% translate "Total" %}: ${{ payment.amount }}</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% translate "Pay" %}</button>
    </form>
{% endblock %}
