{% extends "master.html" %}

{% block title %}
    {% trans "Payment for" %} {{ payment.id }}
{% endblock %}


{% block content %}
    <h1>{% trans "Payment for" %} {{ payment.id }}</h1>
    <h2>{% trans "List of Tickets" %}:</h2>

    <ul>
        {% for ticket in payment.selected_tickets.all %}
            <li>{{ ticket.price_class.name }}: ${{ ticket.price_class.price }}</li>
        {% endfor %}
    </ul>
    
    <h2>{% trans "Total" %}: ${{ payment.amount }}</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Pay" %}</button>
    </form>
{% endblock %}
