{% extends "master.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}

{% block title %}{% translate "Overall Statistics" %}{% endblock %}

{% block content %}
    <h1 class="mt-4">{% translate "Overall Statistics" %}</h1>
    <div class="mt-4">
        <a href="{% url 'event_list' %}" class="btn btn-primary">{% translate "Go to Event List" %}</a>
        <a href="{% url 'show_generated_global_statistics_pdf' %}" class="btn btn-secondary">{% translate "Print Global Statistics" %}</a>
    </div>
    <!-- Include jQuery library via CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include DataTables.net library via CDN -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>

    <h2 class="mt-4">{% translate "Overall Statistics" %}</h2>
    <div class="table-responsive">
        <table id="overall-statistics-table" class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>{% translate "Waiting" %}</th>
                    <th>{% translate "Presale Online" %}</th>
                    <th>{% translate "Presale Door" %}</th>
                    <th>{% translate "Door" %}</th>

                    <th>{% translate "Total Sold" %}</th>
                    <th>{% translate "Total" %}</th>

                    <th>{% translate "Activated Presale Online" %}</th>
                    <th>{% translate "Activated Presale Door" %}</th>
                    <th>{% translate "Activated Door" %}</th>

                    <th>{% translate "Total Sold Activated" %}</th>

                    <th>{% translate "Total Earned Presale Online" %}</th>
                    <th>{% translate "Total Earned Presale Door" %}</th>
                    <th>{% translate "Total Earned Door" %}</th>


                    <th>{% translate "Total Earned" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ overall_total_stats.waiting }}</td>
                    <td>{{ overall_total_stats.presale_online }}</td>
                    <td>{{ overall_total_stats.presale_door }}</td>
                    <td>{{ overall_total_stats.door }}</td>

                    <td>{{ overall_total_stats.total_sold }}</td>
                    <td>{{ overall_total_stats.total_count }}</td>

                    <td>{{ overall_total_stats.activated_presale_online }}</td>
                    <td>{{ overall_total_stats.activated_presale_door }}</td>
                    <td>{{ overall_total_stats.activated_door }}</td>

                    <td>{{ overall_total_stats.total_activated }}</td>

                    <td>{{ overall_total_stats.earned_presale_online }} {{ currency }}</td>
                    <td>{{ overall_total_stats.earned_presale_door }} {{ currency }}</td>
                    <td>{{ overall_total_stats.earned_door }} {{ currency }}</td>

                    <td>{{ overall_total_stats.total_earned }} {{ currency }}</td>
                </tr>
        </table>
    </div>

    {% for event_stats in events_stats %}

    <h2 class="mt-4">{{ event_stats.event.name }}</h2>
    <div class="table-responsive">
        <table id="statistics-table" class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>{% translate "Statistic" %}</th>
                    {% for price_class in event_stats.price_class_stats.keys %}
                    <th>{{ price_class.name }}</th>
                    {% endfor %}
                    <th>{% translate "Total" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{% translate "Waiting" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.waiting }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.waiting }}</td>
                </tr>
                <tr>
                    <td>{% translate "Presale Online" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.presale_online }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.presale_online }}</td>
                </tr>
                <tr>
                    <td>{% translate "Presale Door" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.presale_door }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.presale_door }}</td>
                </tr>
                <tr>
                    <td>{% translate "Door" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.door }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.door }}</td>
                </tr>
                <tr>
                    <td>{% translate "Total Sold" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.total_sold }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.total_sold }}</td>
                </tr>
                <tr>
                    <td>{% translate "Total" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.total_count }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.total_count }}</td>
                </tr>
                <tr>
                    <td>{% translate "Activated Presale Online" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.activated_presale_online }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.activated_presale_online }}</td>
                </tr>
                <tr>
                    <td>{% translate "Activated Presale Door" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.activated_presale_door }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.activated_presale_door }}</td>
                </tr>
                <tr>
                    <td>{% translate "Activated Door" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.activated_door }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.activated_door }}</td>
                </tr>
                <tr>
                    <td>{% translate "Total Sold Activated" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.total_activated }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.total_activated }}</td>
                </tr>
                <tr>
                    <td>{% translate "Ticket Price" %}</td>
                    {% for price_class in event_stats.price_class_stats.keys %}
                    <td>{{ price_class.price }} {{ currency }}</td>
                    {% endfor %}
                    <td></td>
                </tr>
                <tr>
                    <td>{% translate "Total Earned Presale Online" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.earned_presale_online }} {{ currency }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.earned_presale_online }} {{ currency }}</td>
                </tr>
                <tr>
                    <td>{% translate "Total Earned Presale Door" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.earned_presale_door }} {{ currency }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.earned_presale_door }} {{ currency }}</td>
                </tr>
                <tr>
                    <td>{% translate "Total Earned Door" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.earned_door }} {{ currency }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.earned_door }} {{ currency }}</td>
                </tr>
                <tr>
                    <td>{% translate "Total Earned" %}</td>
                    {% for stats in event_stats.price_class_stats.values %}
                    <td>{{ stats.total_earned }} {{ currency }}</td>
                    {% endfor %}
                    <td>{{ event_stats.total_stats.total_earned }} {{ currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}

    <script>
        $(document).ready(function() {
            $('#statistics-table').DataTable({
                "pageLength": 15,
                "order": [],
                "ordering": false
            });
            $('#overall-statistics-table').DataTable({
                "pageLength": 1,
                "order": [],
                "ordering": false
            });
        });
    </script>
{% endblock %}
