{% extends "master.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block content %}
    <h1>{{ event.name }}</h1>
    
    <p><strong>{% translate "Start Time" %}:</strong> {{ event.start_time }}</p>
    <p><strong>{% translate "Location" %}:</strong> {{ event.location.name }}</p>
    <p><strong>{% translate "Duration" %}:</strong> {{ event.duration }}</p>
    {% if event.program_link %}
        <p><a href="{{ event.program_link }}">{% translate "View Program" %}</a></p>
    {% endif %}

    <h2>{% translate "Select Tickets" %}</h2>

    {# Check for form errors and display them #}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}

        {# Use bootstrap_form to render the form #}
        {% bootstrap_form form %}

        {# Add a submit button styled with Bootstrap #}
        <div class="mt-3">
            {% bootstrap_button _("Add to Cart") button_type="submit" button_class="btn-primary" %}
            <a href="{% url 'cart_view' %}" class="btn btn-secondary" >{% translate "Go to cart" %}</a>
        </div>

    </form>

    
    
{% endblock %}
