{% extends "master.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block content %}
    <!-- Include jQuery library via CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <h1>{{ event.name }}</h1>
    
    <p><strong>{% translate "Start Time" %}:</strong> {{ event.start_time }}</p>
    <p><strong>{% translate "Location" %}:</strong> {{ event.location.name }}</p>
    <p><strong>{% translate "Duration" %}:</strong> {{ event.duration }}</p>
    {% if event.program_link %}
        <p><a href="{{ event.program_link }}">{% translate "View Program" %}</a></p>
    {% endif %}

    {% if not event.is_sold_out %}
        <div id="status_message"></div>
        {% if event.allow_presale %}
            <div id="presale_text" style="display: none;">
                <p>{% translate "Presale starts at " %} <strong>{{ presale_start_time }}</strong> {% translate "Presale ends at " %} <strong>{{ presale_end_time }}</strong></p>
            </div>
        {% endif %}
        {% if event.allow_door_selling %}
        <div id="door_selling_text" style="display: none;">
            <p>{% translate "Tickets are sold at the door. Tickets at the door will be available for" %} <strong>{{ event.presale_ends_before }}h </strong> {% translate "before the event starts at " %} <strong>{{ event.start_time }}</strong></p>
        </div>
        {% endif %}

    {% else %}
        <p>{% translate "This event is sold out." %}</p>
    {% endif %}


    {% if ticket_manager %}
        <a href="{% url 'event_check_in' event.id %}" class="btn btn-primary">{% translate "Go to Ticket Check-In" %}</a>
        <a href="{% url 'event_door_selling' event.id %}" class="btn btn-primary">{% translate "Go to Ticket Door Selling" %}</a>
        <a href="{% url 'event_statistics' event.id %}" class="btn btn-secondary">{% translate "Go to Statistics" %}</a>
    {% else %}
        {% if event_active and not event.is_sold_out %}
            <div id="ticket-form" style="display: none;">
                <h2>{% translate "Select Tickets" %}</h2>

                {# Check for form errors and display them #}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
    
                <form method="post" action="">
                    {% csrf_token %}
    
                    <!-- Add quick fill buttons below each form field -->
                    {{ form.generate_quick_fill_buttons|safe }}
                    <p></p>
                    
                    {# Use bootstrap_form to render the form #}
                    {% bootstrap_form form %}
    
                    {# Add a submit button styled with Bootstrap #}
                    <div class="mt-3">
                        {% bootstrap_button _("Add to Cart") button_type="submit" button_class="btn-primary" %}
                        <a href="{% url 'cart_view' %}" class="btn btn-secondary" >{% translate "Go to cart" %}</a>
                    </div>
    
                </form>
            </div>
            
        {% endif %}
    {% endif %}

    <script>
        const presaleStartTime = new Date("{{ presale_start_time|date:'c' }}");
        const presaleEndTime = new Date("{{ presale_end_time|date:'c' }}");
        const presaleStatusElement = document.getElementById('status_message');
        const presaleTextElement = document.getElementById('presale_text');
        const doorSellingElement = document.getElementById('door_selling_text');
        const ticketForm = document.getElementById('ticket-form');


        function updatePresaleStatus() {
            const now = new Date();
            if (now >= presaleStartTime && now < presaleEndTime) {
                presaleStatusElement.innerHTML = '';
                ticketForm.style.display = 'block';
                presaleTextElement.style.display = 'block';
                doorSellingElement.style.display = 'block';
            } else if (now < presaleStartTime) {
                presaleStatusElement.innerHTML = '{% translate "Presale will become active later." %}';
                ticketForm.style.display = 'none';
                presaleTextElement.style.display = 'block';
                doorSellingElement.style.display = 'block';
            } else {
                presaleStatusElement.innerHTML = '{% translate "Presale has ended." %}';
                ticketForm.style.display = 'none';
                presaleTextElement.style.display = 'none';
                doorSellingElement.style.display = 'none';
            }
        }
        // Update the status immediately and then every minute
        updatePresaleStatus();
        setInterval(updatePresaleStatus, 60000);

        document.querySelectorAll('.quick-fill').forEach(button => {
            button.addEventListener('click', function() {
                const field = this.getAttribute('data-field');
                const value = parseInt(this.getAttribute('data-value'));
                const input = document.querySelector(`input[name="${field}"]`);
                input.value = parseInt(input.value) + value;
            });
        });

        document.querySelector('.reset-form').addEventListener('click', function() {
            document.querySelectorAll('input[type="number"]').forEach(input => {
                input.value = 0;
            });
        });
    </script>
    
{% endblock %}
