{% extends "master.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}

{% block title %}
    {% translate "Manage Orders" %}
{% endblock %}
{% block content %}
    <h1>{% translate "Manage Orders" %}</h1>

    <!-- Include jQuery library via CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include DataTables.net library via CDN -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>

    <h2>{% translate "Manual Orders" %}</h2>
    <div class="table-responsive">
        <table id="manual-orders-table" class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>{% translate "Order ID" %}</th>
                    <th>{% translate "Customer Email" %}</th>
                    <th>{% translate "Customer First Name" %}</th>
                    <th>{% translate "Customer Last Name" %}</th>
                    <th>{% translate "Total Amount" %}</th>
                    <th>{% translate "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for order in manual_orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.billing_email }}</td>
                        <td>{{ order.billing_first_name }}</td>
                        <td>{{ order.billing_last_name }}</td>
                        <td>{{ order.total }} {{ currency }}</td>
                        <td>
                            <a href="{% url 'admin_confirm_order' order.session_id %}" class="btn btn-primary">
                                {% translate "Confirm Order" %}
                            </a>
                            <a href="{% url 'ticket_list' order.session_id %}" class="btn btn-secondary">
                                {% translate "View Order" %}
                            </a>
                            <a href="{% url 'send_invoice' order.session_id %}" class="btn btn-secondary">
                                {% translate "Resend Invoice" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>{% translate "Paid Orders" %}</h2>
    <div class="table-responsive">
        <table id="paid-orders-table" class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>{% translate "Order ID" %}</th>
                    <th>{% translate "Customer Email" %}</th>
                    <th>{% translate "Customer First Name" %}</th>
                    <th>{% translate "Customer Last Name" %}</th>
                    <th>{% translate "Total Amount" %}</th>
                    <th>{% translate "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for order in paid_orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.billing_email }}</td>
                        <td>{{ order.billing_first_name }}</td>
                        <td>{{ order.billing_last_name }}</td>
                        <td>{{ order.total }} {{ currency }}</td>
                        <td>
                            <a href="{% url 'ticket_list' order.session_id %}" class="btn btn-primary">
                                {% translate "View Order" %}
                            </a>
                            <a href="{% url 'send_confirmation' order.session_id %}" class="btn btn-secondary">
                                {% translate "Resend Confirmation" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>{% translate "All Orders" %}</h2>
    <div class="table-responsive">
        <table id="all-orders-table" class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>{% translate "Order ID" %}</th>
                    <th>{% translate "Customer Email" %}</th>
                    <th>{% translate "Customer First Name" %}</th>
                    <th>{% translate "Customer Last Name" %}</th>
                    <th>{% translate "Total Amount" %}</th>
                    <th>{% translate "Status" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for order in all_orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.billing_email }}</td>
                        <td>{{ order.billing_first_name }}</td>
                        <td>{{ order.billing_last_name }}</td>
                        <td>{{ order.total }} {{ currency }}</td>
                        <td>{{ order.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#manual-orders-table').DataTable();
            $('#paid-orders-table').DataTable();
            $('#all-orders-table').DataTable();
        });
    </script>
{% endblock %}
