{% extends "master.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}

{% block title %}
    {% translate "Payment Form" %}
{% endblock %}
{% block content %}
    <h1>{% translate "Payment Form" %}</h1>

    {# Check for form errors and display them #}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}

        {# Use bootstrap_form to render the form #}
        {% bootstrap_form form %}

        {# Add a submit button styled with Bootstrap #}
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

{% endblock %}
